@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueado";
}

<hgroup>
    <h1 class="red-text">Bloqueado.</h1>
    <h2 class="red-text">Esta cuenta se ha bloqueado, inténtelo de nuevo más tarde.</h2>
</hgroup>
