
@{
    ViewBag.Title = "Home Page";
}
<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item red white-text" href="#one!">
        <h2>First Panel</h2>
        <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
        <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
        <h2>Fourth Panel</h2>
        <p class="white-text">This is your fourth panel</p>
    </div>
</div>

<div class="row">
    <div class="col m4 hide-on-small-only">
        <ul id="Filtros" class="collection with-header">
            <li class="collection-header"><b>Filtos:</b></li>

        </ul>
       <div class="card-panel">
           <b>Categorias:</b>
           <ul id="slide-out" class="side-nav fixed">
               <li><a href="#!">First Sidebar Link</a></li>
               <li><a href="#!">Second Sidebar Link</a></li>
               <li class="no-padding">
                   <ul class="collapsible collapsible-accordion">
                       <li>
                           <a class="collapsible-header">Dropdown<i class="material-icons">arrow_drop_down</i></a>
                           <div class="collapsible-body">
                               <ul>
                                   <li><a href="#!">First</a></li>
                                   <li><a href="#!">Second</a></li>
                                   <li><a href="#!">Third</a></li>
                                   <li><a href="#!">Fourth</a></li>
                               </ul>
                           </div>
                       </li>
                   </ul>
               </li>
           </ul>
       </div>

    </div>
    <div class="col s12 m8">
      <div class="row" id="Productos">
          <div class="col s12 m4" >
              <div class="card">
                  <div class="card-image">
                      <img src="images/sample-1.jpg">
                      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                  </div>
                  <div class="card-content">
                      <span class="card-title">Card Title</span>
                  </div>
              </div>
          </div>

      </div>
    </div>
</div>
@Scripts.Render("~/Scripts/Tienda.js")